/*
a{
    color:blue;
    text-decoration: none;
}

a:hover{
    color: blueviolet;
}
a:active{
    color: green;
}
a:visited{
    color:yellow;
} 

p:nth-child(3){
    color:greenyellow;
}*/
p::first-line{
    font-size: 200%;
    color: brown;

}